.background
{
    background-image: url("background.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
.header
{
    margin: 20px auto;
    box-shadow: 10px 10px 5px grey;
}
.main-heading
{
    text-align: center;
    font-family: Roboto;
    color: black;
    font-weight: bold;
    font-size: xx-large;
    margin: 20px auto;
}
.main-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.item:hover{
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(249,52,52,0.3);
}
.row-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
}
.item
{
    display:flex;
    flex-direction: row;
    margin: 5px auto;
    padding: 20px;
    border: 2px solid rgb(37, 153, 221);
    align-content: center;
    background-color: lightblue;
    border-radius: 25px;
    transition: all 0.5s ease;
}

.item-details
{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.image-card
{
    width: 200px;
    height: 180px;
    border-radius: 15%; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}